<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moizahmed.test1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application

        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:backupAgent=".MyBackup"
        android:label="@string/app_name"
        tools:replace="android:theme"
        android:theme="@style/AppTheme.Light"

        >

        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-f534w4m2pm4ub2p" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />


        <activity android:name=".Screens.Splash"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Screens.MyIntro">
              </activity>

        <activity
            android:name=".Screens.MainActivity"

            android:label="@string/app_name" >
        </activity>

        <activity android:name=".Screens.Main">
        </activity>

        <activity android:name=".Screens.new_dawai">
        </activity>

        <activity
            android:name=".Screens.new_haari"
            android:label="@string/input_farmer"
            >
        </activity>

        <activity
            android:name=".Screens.new_fasl"
            android:label="@string/input_fasal" >
        </activity>

        <activity
            android:name=".Screens.new_land"
            android:label="@string/input_land" >
        </activity>


        <activity
            android:name=".Screens.new_khad"
            android:label="@string/input_fertilizer" >
        </activity>

        <activity
            android:name=".Screens.new_machine"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Screens.roz_qarz">
        </activity>
        <activity
            android:name=".Screens.new_seed">
        </activity>

        <activity
            android:name=".Screens.roz_khad"
            android:theme="@style/AppTheme.Light"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Screens.roz_seed"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Screens.roz_machine"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Screens.roz_pani"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Screens.roz_servey"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Screens.roz_tax"
            android:label="@string/app_name" >
        </activity>


        <activity
            android:name=".Screens.ViewFasal"
            android:label="@string/app_name" >
        </activity>


        <activity
            android:name=".Screens.ViewZameen"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Screens.ViewHari"
            android:label="@string/app_name" >
        </activity>


        <activity
            android:name=".Screens.ViewKhad"
            android:label="@string/app_name" >
        </activity>


        <activity
            android:name=".Screens.ViewMachine"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Screens.ViewSeed"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Screens.ViewSurvey"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Screens.ViewQarz"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Screens.QarzReport"
            android:label="QarzReport" />
        <activity
            android:name=".Screens.SurveyReport"
            android:label="SurveyReport" />
        <activity
            android:name=".Screens.LandReport"
            android:label="LandReport" />
        <activity
            android:name=".Screens.ExpenseReport"
            android:label="ExpenseReport" />
        <activity
            android:name=".Screens.Notifications"
            android:label="Notifications" />

        <receiver
            android:name=".Screens.NotificationsReciever"
            android:process=":remote" />

        <activity
            android:name=".Screens.FaslAnnualReport"
            android:label="FaslAnnualReport" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIqK5A00CPAEjPs6W-oXdqjWKAev-0E2rKPhkn3A" />

    </application>

</manifest>
