<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moizahmed.test1.Screens">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:label="@string/app_name"
        tools:replace="android:theme"
        android:theme="@style/AppTheme.Dark" >

        <activity android:name=".MyIntro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".Main">
        </activity>

        <activity android:name=".new_dawai">
        </activity>

        <activity
            android:name=".new_haari"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".new_fasl"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".new_land"
            android:label="@string/app_name" >
        </activity>


        <activity
            android:name=".new_khad"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".new_machine"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".new_qarz">
        </activity>
        <activity
            android:name=".new_seed">
        </activity>

        <activity
            android:name=".roz_khad"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".roz_seed"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".roz_machine"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".roz_pani"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".roz_servey"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".roz_tax"
            android:label="@string/app_name" >
        </activity>







    </application>

</manifest>
